/*BODY*/

body {
	background-color: #02031a;
	color: #ffffff;
	font-family: 'Kanit', sans-serif;
	overflow-x: hidden !important;
	background-image: url("../images/banners/bg-body.jpg");
	background-size: cover;
}

.space {
	height: 30px;
}

/*/BODY*/

/*HEADER*/
/*NAVBAR MENU*/

.logo-size {
	width: 130px;
}

.menu-position {
	position: fixed;
	width: 100%;
	z-index: 999;

} 

.logo-estilo {
	color: #0087ca;
	transition: all 0.3s;
	transform: scale(1);
}

.logo-estilo:hover {
	color: #ffffff;
	transition: all 0.3s;
	transform: scale(1.1);
}

nav.navbar {
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
}

.navbar-color {
  background-color: #050056;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-shadow: black 0.1em 0.1em 0.2em
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link, .sublink, .nav-link:focus {
	color: #0087ca;
}

.nav-link:hover {
	color: #ffffff;
	background-color: #050056;
}

ul.dropdown-menu.show {
	background-color: #050056;
	border: none;
}

/*RESPONSIVE*/
.navbar-toggler {
	color: transparent;
	background-color: #0c5cba;
}
/*/FIM NAVBAR MENU*/
/*CARROSSEL*/

.carousel {
	padding-top: 55px;
	animation-name: color-change;
  animation-duration: 5.1s;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  0%   {box-shadow: 0px 0px 41px 28px rgba(62,0,89,0);}
  50%   {box-shadow: 0px 0px 41px 28px rgba(62,0,89,1);}
  100% {box-shadow: 0px 0px 41px 28px rgba(62,0,89,0);}
}

.carousel-caption {
	padding-bottom: 10.25rem;
}

.carousel-caption h5 {
	font-size: 40px;
}

/*ABOUT SERVICES*/

.icon-size {
	width: 250px;
	height: 250px;
}


.btn-more {
	font-weight: bold;
	color: #0087ca;
	width: 200px;
  height: 50px;
  border: 3px solid #0087ca;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 0.5s;
}

.btn-more a {
	color: #0087ca;
	text-decoration: none;
	transition: all 0.3s;
}

.btn-more a:hover {
	color: #ffffff;
	transition: all 0.3s;
}

.a-more {
	text-decoration: none;
}

.btn-more::before, .btn-more::after {
  position: absolute;
  background: #02031a;
  z-index: -1;
  transition: 0.5s;
  content: '';
}

.btn-more::before {
  height: 50px;
  width: 180px;
}

.btn-more::after {
  width: 200px;
  height: 30px;
}

.btn-more:hover::before {
  width: 0px;
  background: #02031a;
}

.btn-more:hover::after {
  height: 0px;
  background: #02031a;
}

button.btn-more, .btn-more:hover {
  background: #02031a;
  transition: all 0.3s;
}

.btn-more:hover {
	color: #ffffff;
	transform: scale(1.1);
	box-shadow: 0px 0px 21px 8px rgba(62,0,89,1);
	transition: all 0.3s;
}

/*/ABOUT SERVICES*/

 /*FOOTER*/

      #footer {
        border-top: 1px solid #CCC;
      }

      #footer h5 {
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        margin-top: 50px;
      }

      .icon-size {
        text-align: center;
        font-size: 18px;
      }

      #footer #social-icons a {
        color: #0087ca;
        transition: all 0.3s;
        text-decoration: none;
      }

      .linkedin {
      	font-family: 'Kanit', sans-serif;
      	font-style: normal;
      }
      
      #footer #social-icons a:hover {
        color:  #ffffff;
        transition: all 0.3s;
      }

      #footer small p {
        text-align: center;
        margin-top: 20px;
        color: #696969;
        font-size: 12px;
      }

      .contato p {
      	font-size: 18px;
      	margin-bottom: 0;
      }

      .btn.btn-contato {
      	background-color: red;
      	padding-left: 20px;
      	padding-right: 20px;
      }

      .mail-span {
      	color: #0087ca;
      }

      /*Fim FOOTER*/

/*SM >= 576px */
@media (max-width: 576px) {

/*	CAROUSEL MOBILE*/

	.carousel-caption {
		padding-bottom: 1rem;
	}

	.carousel-caption h5 {
		font-size: 25px;
	}

	.carousel-indicators {
		display: none !important;
	}

	.carousel-control-prev, .carousel-control-next {
		top: 60px;
	}

}
/*	/CAROUSEL MOBILE*/

.btn-more {
	margin-bottom: 20px;
}

/*FOOTER Mobile*/

.contato {
	margin-bottom: 5px;
}

/*FOOTER Mobile*/