	* {
        margin: 0;
        padding: 0;
      }
      
	#banner-contato {
        padding-top: 55px;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        margin-top: 50px;
      }
      
  .form-color {
    background-color: #000b31;
  }

  .color-label {
    color: #ffffff;
  }

  .space {
    margin-top: 30px;
  }

  .btn-enviar {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: black 0.1em 0.1em 0.2em;
    background-color: #0c5cba;
  }

/*  thanks page*/
.obrigado p {
  margin-bottom: 0;
}

.btn-more2 {
  font-weight: bold;
  color: #0087ca;
  width: 200px;
  height: 50px;
  border: 3px solid #0087ca;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  margin-top: 10px;
}

.btn-more2 a {
  color: #0087ca;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-more2 a:hover {
  color: #ffffff;
  transition: all 0.3s;
}

.a-more {
  text-decoration: none;
}

.btn-more2::before, .btn-more2::after {
  position: absolute;
  background: #000b31;
  z-index: -1;
  transition: 0.5s;
  content: '';
}

.btn-more2::before {
  height: 50px;
  width: 180px;
}

.btn-more2::after {
  width: 200px;
  height: 30px;
}

.btn-more2:hover::before {
  width: 0px;
  background: #000b31;
}

.btn-more2:hover::after {
  height: 0px;
  background: #000b31;
}

button.btn-more2, .btn-more2:hover {
  background: #000b31;
  transition: all 0.3s;
}

.btn-more2:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 0px 21px 8px rgba(62,0,89,1);
  transition: all 0.3s;
}

  /*SM >= 576px */
@media (max-width: 576px) {
  .img-form {
    display: none;
  }
}